@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

:root {
  --white: #fff;
  --black: #2e2e2e;
  --gray: #787878;
  --highlight: #ea8478;
  --footer: #f7f7f7;
}

header {
    background: linear-gradient(to right, #FEEAD4, #ffffff);
    padding: 0 48px;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 1px 1px 8px 1px #25e4e436;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 72px;
  }
  
  html * {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
  }

  .logo {
    color: #283E50;
    letter-spacing: 8px;
    font-family: "Playfair Display", serif;
    text-align: right;
  }
  
  .logo:hover {
    color: #283E50;
    letter-spacing: 8px;
    animation: text 3s 1;
  }
  
  @keyframes text {
    0% {
      color: #80402c;
  
    }
  
    30% {
      letter-spacing: 25px;
  
    }
  
    85% {
      letter-spacing: 8px;
  
    }
  }
  
  
  .dropbtn {
    background: none;
    padding: 10px;
    border: none;
    color: #283E50;
  }
  
  .dropbtn img {
    width: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    padding: 20px 30px 20px 30px;
    text-align: center;
  }
  
  .dropdown-content a {
    color: #283E50;
    padding: 20px 0px 0px 0px;
    text-decoration: none;
    display: block;
    font-size: 1.1em;
    border-bottom: 1px solid rgb(207, 204, 204);
    font-family: "Montserrat", serif;
  }
  
  .dropdown-content a:hover {
    background-color: #dccfc6;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #dccfc6;
  }
  
  .submenu {
    display: none;
    background-color: #e0cfc2;
  
  }
  
  #recenzie:hover>.submenu {
    display: block;
  }
  
  
  
  .dropdown_content a.active {
    background-color: #FFB800;
    color: white;
  }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--gray);
  background: var(--white);
  text-rendering: optimizeLegibility;
}

.categ-prod-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    column-gap: 10px;
}

.categ-prod-item {
    position: relative;
    width: 23.76%;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 9px 30px 0;
}

a, body, h1, h2, h3, h4, h5, label, li, p {
    font-family: Lato, sans-serif;
    color: #00205b;
}

.pr-history-item {
    width: 100%;
}

.pr-offers-section-wr {
    display: flex;
    justify-content: left;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    height: 65px;
    align-content: flex-end;
}

.pr-history-item .pr-offers-section-wr p {
    margin: 0 5px 5px 0;
}

.pr-new-icon {
    font-size: 12px;
    background-color: #d2e1fc;
    color: #07245d;
    padding: 0 8px 0 8px;
    margin: 0 5px 5px 0;
    border-radius: 14px;
    height: 18px;
    text-transform: uppercase;
}

ul li a {
    color: #00205B;
}

.cc-pg-categ-products {
    width: 100%;
    padding: 100px 30px 30px 40px;
    align-self: center;
}

.add-to-card-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7edf7;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    /* padding: 0 20px 0 0; */
}

.adauga-in-cos-roz-AB {
    /* background-color: #FABBCB; */
    text-align: center;
}

.adauga-in-cos-roz {
    display: block !important;
}

.add-to-card-btn {
    height: 37px;
    background-color: #00205b;
    border-radius: 17px;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

@media (max-width: 1200px){
 .categ-prod-item {
    width: 22%;
}
}
